.LatestProducts {
  margin-top: 2%;
}
.section-title {
  margin-left: 2%;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.viewAll {
  display: block;
  text-align: right;
  margin: 0 1% 10px;
}
.product-card {
  max-width: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  box-sizing: border-box;
  padding: 10px;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust card size */
  gap: 10px; /* Space between cards */
  justify-content: center;
  /* padding: 1% 3%; */
}
h2 {
  font-family: "Anek Latin", sans-serif;
}

.HtopContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 100em;
}

.HPageContainer {
  width: 95%;
  max-width: 90em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HPageProducts {
  margin: 3% 0;
  height: auto;
  padding: 0 7vw;
}

.products-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.heading-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.heading-container div {
  font-size: large;
  text-align: end;
}

.heading-container h1 {
  width: 95%;
  margin: auto;
}





@media (max-width: 643px) {
  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust card size */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }
  .product-card {
    max-width: 210px;

  }
}

@media (max-width: 462px) {
  .product-grid {
    grid-template-columns: repeat(2, 0fr);
  }

.product-card {
  max-width: 170px;
}

}
