.LatestProducts {
  margin-top: 2%;
}
.section-title{
  margin-left: 7%;
}
.product-list {
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.viewAll{
  margin-right: 50px;
}
.product-card {
width: 100%;
box-sizing: border-box;
display: flex;
justify-content: start;
}

.product-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 0fr)); /* Ensure a minimum width of 200px per card */
  /* gap: 20px; */
}

h2 {
font-family: "Anek Latin", sans-serif;
}

.HtopContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 100em;
}

.HPageContainer {
/* height: 50vh; */
width: 95%;
max-width: 90em;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.HPageProducts {
margin: 3% 0;
height: auto;
padding: 0 7vw;
}

.products-container {
width: 90%;
margin: auto;
display: flex;
flex-direction: row;
/* flex-wrap: wrap; */
}

.heading-container {
display: flex;
flex-direction: column;
width: 90%;
margin: auto;
}

.heading-container div {
font-size: large;
text-align: end;
}

.heading-container h1 {
width: 95%;
margin: auto;
}

@media (min-width: 768px) {
.product-card {
  width: calc(25% - 20px); /* Adjust as needed */
}
}

@media (max-width: 767px) {
.product-grid {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ensure a minimum width of 150px per card */
}
.viewAll{
  margin-right: 0px   ;
}

.product-card {
  width: 100%; /* Adjust as needed */
}
}

@media (max-width: 480px) {
.product-grid {
  grid-template-columns: repeat(2, 1fr); /* Ensure at least 2 cards */
}

.product-card {
  width: 100%; /* Adjust as needed */
}

}
