.high-top-products {
  margin: 3% 0;
  padding: 0 7vw;
}

.high-top-container {
  width: 95%;
  max-width: 90em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.high-top-header {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  text-align: center;
}

.high-top-header h1 {
  font-family: "Anek Latin", sans-serif;
  width: 95%;
  margin: auto;
  font-size: 2.5em;
  color: #333;
}

.high-top-list {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.high-top-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.high-top-item {
  width: calc(25% - 0px);
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
}

@media (max-width: 768px) {
  .high-top-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .high-top-item {
    width: 90%;
  }
}
