.high-top-products {
  margin-top: 2%;
}

.high-top-container {
  width: 95%;
  max-width: 90em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.high-top-header {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  text-align: center;
}

.high-top-header h1 {
  font-family: "Anek Latin", sans-serif;
  width: 95%;
  margin: auto;
  font-size: 2.5em;
  color: #333;
}

.high-top-list {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.high-top-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.high-top-item {
  width: calc(20% - 10px); /* Smaller card size, four cards in a row for larger screens */
  margin: 8px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .high-top-item {
    width: calc(20% - 0px); /* Three cards in a row for smaller screens */

  }
}

@media (max-width: 974px) {
  .high-top-item {
    width: calc(30% - 0px); /* Two cards in a row for smaller screens */
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

@media (max-width: 505px) {
  .high-top-item {
    width: calc(50% - 20px); 
    display: flex;
    justify-content: center;
  }
}
