.wishlist-page {
  padding: 20px;
}

.wishlist-page h1 {
  text-align: center;
}

.wishlist-page p {
  text-align: center;
  font-size: 1.2em;
}

.empty-wishlist {
  text-align: center;
  font-size: 18px;
}

.empty-wishlist-image {
  width: 25rem;
  height: 25rem;
  margin-top: 100px;
}

.wishlist-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.wishlist-item {
  flex: 1 1 200px;
  max-width: 210px;
  margin: 10px;
}

.wishlist-item button {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .wishlist-item {
    flex: 1 1 100%;
    max-width: 190px;
  }
  .empty-wishlist-image {
    width: 20rem;
    height: 20rem;
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  .wishlist-page {
    padding: 10px;
  }

  .wishlist-item {
    margin: 5px;
    max-width: 150px;
  }

  .wishlist-item button {
    margin-top: 5px;
  }

  .empty-wishlist-image {
    width: 15rem;
    height: 15rem;
    margin-top: 50px;
  }
}
