/* src/components/SearchResults/searchResults.css */

.SearchResultsPage {
  padding: 20px;
  /* background-color: #f9f9f9;    */
}

.SearchResultsContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.SearchResultsHeadingContainer {
  text-align: center;
  margin-bottom: 20px;
}

.SearchResultsHeadingContainer h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.SearchResultsProductsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.Searchproduct-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Searchproduct-card {
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: center;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.Searchproduct-card:hover {
  transform: translateY(-5px);
}

.Searchproduct-card img {
  width: 100%;
  height: auto;
}

.Searchproduct-card .Searchproduct-info {
  padding: 10px;
  text-align: center;
}

.Searchproduct-card .Searchproduct-info h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.Searchproduct-card .Searchproduct-info p {
  font-size: 1rem;
  color: #777;
  margin-bottom: 10px;
}

.Searchproduct-card .Searchproduct-info .price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #e67e22;
}

.no-results {
  text-align: center;
  font-size: 1.5rem;
  color: #777;
}

@media (max-width: 479px) {
  .Searchproduct-card {
    max-width: 140px;
  }


} 
