.AllProducts {
  margin: 3% 0;
  height: auto;
  padding: 0 7vw;
}

.AllPageContainer {
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AlltopContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 100em;
}

.Allheading-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.Allheading-container div {
  font-size: large;
  text-align: end;
}

.Allheading-container h1 {
  width: 95%;
  margin: auto;
}

.Allproducts-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.Allproduct-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the products horizontally */
}

.Allproduct-card {
  width: calc(20% - 10px); /* Smaller card size, four cards in a row for larger screens */
  margin: 8px;
  box-sizing: border-box;
}

@media (max-width: 1488px) {
  .Allproduct-card {
    width: calc(25% - 10px); /* Smaller card size, three cards in a row for tablets */
  }
}



@media (max-width: 1016px) {
  .Allproduct-card {
    width: calc(30% - 10px); /* Smaller card size, three cards in a row for tablets */
  }
}

@media (max-width: 844px) {
  .Allproduct-card {
    width: calc(50% - 50px); 
    display: flex;
    justify-content: center;

  }

}
@media (max-width: 450px) {
  .Allproduct-card {
    width: calc(40% - 0px); 
    display: flex;
    justify-content: center;

  }

}
