
.orderTable {
  width: 85%;
  padding: 20;
  margin: auto;
  border-collapse: collapse;
}

.orderTable th, .orderTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.orderTable th {
  background-color: #f2f2f2;
  text-align: left;
}

.orderTable td img {
  max-width: 50px;
  max-height: 50px;
}
