.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  background-color: #eeeeee;
}

.navbar-heading {
  font-size: 3rem;
  font-family: "waltograph42";
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.navbar-heading:hover {
  text-decoration: none;
  color: black;
}

.navbar-options ul,
.navbar-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-options li,
.navbar-icons li {
  display: inline-block;
  margin-right: 15px;
}


.navbar-options li a {
  color: rgb(9, 9, 9);
  text-decoration: none;
  font-size: larger;
  margin: 0.7vw;
}

.black-icon {
  color: black;
}

/* Hamburger Icon */
.hamburger-menu {
  display: none;
  cursor: pointer;
}

/* search-bar */
.search-bar input {
  width: 90%;
  height: 4rem;
  font-size: x-large;
}

.search-bar {
  display: flex;
  justify-content: center;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s, height 0.5s ease-in-out;
}

.search-bar.active {
  opacity: 1;
  height: auto;
}
.close-btn {
  width: 5%;
  height: 4rem;
  font-size: x-large;
  background-color: black;
  color: white;
  opacity: 50%;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.user-logo {
  display: flex;
  align-items: center;
}

.loginBtn{
  border-right: none;
  padding: 0 1em;
}
.signupBtn{
  padding: 0 .7em;
}




/* Media Query for Small Screens */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }
  .navbar-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    width: 100%;
    text-align: center;
    z-index: 1000;
  }

  .navbar-options.open {
    display: block;
  }

  .hamburger-menu {
    display: block;
  }

  .navbar-brand {
    text-align: center;
    padding: 0;
  }
  .navbar-options li a {
    color: rgb(248, 245, 245);
  }
  .navbar-heading {
    font-size: 2rem;
  }
}
