h2 {
  font-family: "Anek Latin", sans-serif;
}

.HtopContainer {
  height: 70vh;
  margin: 4% 0px;
  
}
.products-container{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.heading-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.heading-container div{
  font-size: large;
  text-align: end;
}



.heading-container h1 {
  width: 95%;
  margin: auto;
}
