h2 {
  font-family: "Anek Latin", sans-serif;
}

.HtopContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 80em;
}
.HPageContainer {
  /* height: 50vh; */
  width: 90%; 
  max-width: 90em; 
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HPageProducts {
  margin: 3% 0;
  height: auto;
  padding: 0 7vw;
}

.products-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
.heading-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.heading-container div {
  font-size: large;
  text-align: end;
}

.heading-container h1 {
  width: 95%;
  margin: auto;
}
