.card-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  overflow: hidden;
  margin: 5px;
  cursor: pointer;
}

.card-image {
  position: relative;
  width: 100%;
  height: auto;
}

.card-image img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.5s ease-in-out;
}

.image-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1; /* Ensure the hover image is on top */
}

.card-container:hover .image-main {
  opacity: 0;
}

.card-container:hover .image-hover {
  opacity: 1;
}

.card-info {
  padding: 10px;
}

.brand-name {
  font-size: 16px;
  font-weight: bold;
}

.product-name {
  font-size: 18px;
  margin-top: 5px;
}

.price {
  font-size: 16px;
  margin-top: 5px;
}


@media (max-width: 745px) {
  .card-container {
    width: 180px;
  }
  .brand-name{
    font-size: 14px;
  }
  .product-name {
    font-size: 14px;
  }
  
  .price {
    font-size: 14px;
  }
}

@media (max-width: 479px) {
  .brand-name{
    font-size: 12px;
  }
  .product-name {
    font-size: 12px;
  }
  
  .price {
    font-size: 12px;
  }

}